USE [master]
GO
/****** Object:  Database [GD1C2017]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
CREATE DATABASE [GD1C2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GD1C2017', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER2012\MSSQL\DATA\GD1C2017.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GD1C2017_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER2012\MSSQL\DATA\GD1C2017_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GD1C2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GD1C2017]
GO
/****** Object:  User [gd]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
CREATE USER [gd] FOR LOGIN [gd] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Auto]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GEDES.Auto](
	[auto_codigo] [numeric](18, 0) NOT NULL,
	[auto_marca] [numeric](18, 0) NULL,
	[auto_modelo] [char](50) NULL,
	[auto_patente] [nvarchar](50) NULL,
	[auto_turno] [numeric](18, 0) NULL,
	[auto_chofer] [numeric](18, 0) NULL,
	[auto_inactivo] [bit] NULL,
 CONSTRAINT [PK_Auto] PRIMARY KEY CLUSTERED 
(
	[auto_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GEDES.Auto_turno]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Auto_turno](
	[auto] [numeric](18, 0) NOT NULL,
	[turno] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Auto_turno] PRIMARY KEY CLUSTERED 
(
	[auto] ASC,
	[turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Chofer]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Chofer](
	[chof_codigo] [numeric](18, 0) NOT NULL,
	[chof_usuario] [numeric](18, 0) NULL,
	[chof_nombre] [nchar](50) NULL,
	[chof_apellido] [nchar](50) NULL,
	[chof_dni] [nchar](50) NULL,
	[chof_direccion] [nchar](50) NULL,
	[chof_telefono] [nchar](50) NULL,
	[chof_email] [nchar](50) NULL,
	[chof_fechanacimiento] [date] NULL,
	[chof_inactivo] [bit] NULL,
 CONSTRAINT [PK_Chofer] PRIMARY KEY CLUSTERED 
(
	[chof_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Cliente]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Cliente](
	[clie_codigo] [numeric](18, 0) NOT NULL,
	[clie_usuario] [numeric](18, 0) NULL,
	[clie_nombre] [nvarchar](50) NULL,
	[clie_appellido] [nchar](50) NULL,
	[clie_dni] [numeric](18, 0) NOT NULL,
	[clie_email] [nvarchar](50) NULL,
	[clie_telefono] [nchar](50) NULL,
	[clie_direccion] [nvarchar](50) NULL,
	[clie_codpostal] [numeric](18, 0) NULL,
	[clie_fechanacimiento] [date] NULL,
	[clie_inactivo] [bit] NULL,
 CONSTRAINT [PK_Cliente_1] PRIMARY KEY CLUSTERED 
(
	[clie_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Factura]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Factura](
	[fact_codigo] [numeric](18, 0) NOT NULL,
	[fact_fechainicio] [date] NOT NULL,
	[fact_fechafin] [date] NOT NULL,
	[fact_importe] [numeric](18, 0) NOT NULL,
	[fact_cliente] [numeric](18, 0) NOT NULL,
	[fact_inactivo] [bit] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[fact_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Funcion]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Funcion](
	[func_codigo] [numeric](18, 0) NOT NULL,
	[func_nombre] [nchar](10) NULL,
	[func_inactivo] [bit] NULL,
 CONSTRAINT [PK_Funcion] PRIMARY KEY CLUSTERED 
(
	[func_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Funcion_rol]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Funcion_rol](
	[rol] [numeric](18, 0) NOT NULL,
	[funcion] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Funcion_rol] PRIMARY KEY CLUSTERED 
(
	[rol] ASC,
	[funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Itemfactura]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Itemfactura](
	[item_codigo] [numeric](18, 0) NOT NULL,
	[item_factura] [numeric](18, 0) NULL,
	[item_viaje] [numeric](18, 0) NULL,
	[item_precio] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Itemfactura] PRIMARY KEY CLUSTERED 
(
	[item_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Rendicion]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Rendicion](
	[rend_codigo] [numeric](18, 0) NOT NULL,
	[rend_numero] [numeric](18, 0) NULL,
	[rend_fecha] [date] NULL,
	[rend_importe] [numeric](18, 0) NULL,
	[rend_chofer] [numeric](18, 0) NOT NULL,
	[rend_turno] [numeric](18, 0) NOT NULL,
	[rend_inactivo] [bit] NULL,
 CONSTRAINT [PK_Rendicion] PRIMARY KEY CLUSTERED 
(
	[rend_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Rol]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Rol](
	[rol_codigo] [numeric](18, 0) NOT NULL,
	[rol_nombre] [nchar](10) NULL,
	[rol_inactivo] [bit] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[rol_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Rolusuario]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Rolusuario](
	[rxu_rol] [numeric](18, 0) NOT NULL,
	[rxu_usuario] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Rolusuario] PRIMARY KEY CLUSTERED 
(
	[rxu_rol] ASC,
	[rxu_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Turno]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Turno](
	[turn_codigo] [numeric](18, 0) NOT NULL,
	[turn_horainicio] [date] NULL,
	[turn_horafin] [date] NULL,
	[turn_descripcion] [nchar](50) NULL,
	[turn_valorkm] [numeric](18, 0) NULL,
	[turn_presiobase] [numeric](18, 0) NULL,
	[turn_inactivo] [bit] NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[turn_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Usuario]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Usuario](
	[usua_codigo] [numeric](18, 0) NOT NULL,
	[usua_intentos] [numeric](18, 0) NULL,
	[usua_nombre] [nchar](10) NULL,
	[usua_contrasena] [numeric](18, 0) NULL,
	[usua_inactivo] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[usua_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GEDES.Viaje]    Script Date: martes, 20 de junio de 2017 16:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEDES.Viaje](
	[viaj_codigo] [numeric](18, 0) NOT NULL,
	[viaj_cliente] [numeric](18, 0) NULL,
	[viaj_chofer] [numeric](18, 0) NULL,
	[viaj_auto] [numeric](18, 0) NULL,
	[viaj_cantkm] [numeric](18, 0) NULL,
	[viaj_fechainicio] [date] NULL,
	[viaj_fechafin] [date] NULL,
	[viaj_turno] [numeric](18, 0) NULL,
	[viaj_inactivo] [bit] NULL,
 CONSTRAINT [PK_Viaje] PRIMARY KEY CLUSTERED 
(
	[viaj_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GEDES.Auto]  WITH CHECK ADD  CONSTRAINT [FK_Auto_Chofer] FOREIGN KEY([auto_chofer])
REFERENCES [dbo].[GEDES.Chofer] ([chof_codigo])
GO
ALTER TABLE [dbo].[GEDES.Auto] CHECK CONSTRAINT [FK_Auto_Chofer]
GO
ALTER TABLE [dbo].[GEDES.Auto]  WITH CHECK ADD  CONSTRAINT [FK_Auto_Turno] FOREIGN KEY([auto_turno])
REFERENCES [dbo].[GEDES.Turno] ([turn_codigo])
GO
ALTER TABLE [dbo].[GEDES.Auto] CHECK CONSTRAINT [FK_Auto_Turno]
GO
ALTER TABLE [dbo].[GEDES.Auto_turno]  WITH CHECK ADD  CONSTRAINT [FK_Auto_turno_Turno] FOREIGN KEY([turno])
REFERENCES [dbo].[GEDES.Turno] ([turn_codigo])
GO
ALTER TABLE [dbo].[GEDES.Auto_turno] CHECK CONSTRAINT [FK_Auto_turno_Turno]
GO
ALTER TABLE [dbo].[GEDES.Chofer]  WITH CHECK ADD  CONSTRAINT [FK_Chofer_Usuario] FOREIGN KEY([chof_usuario])
REFERENCES [dbo].[GEDES.Usuario] ([usua_codigo])
GO
ALTER TABLE [dbo].[GEDES.Chofer] CHECK CONSTRAINT [FK_Chofer_Usuario]
GO
ALTER TABLE [dbo].[GEDES.Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Usuario] FOREIGN KEY([clie_usuario])
REFERENCES [dbo].[GEDES.Usuario] ([usua_codigo])
GO
ALTER TABLE [dbo].[GEDES.Cliente] CHECK CONSTRAINT [FK_Cliente_Usuario]
GO
ALTER TABLE [dbo].[GEDES.Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente1] FOREIGN KEY([fact_cliente])
REFERENCES [dbo].[GEDES.Cliente] ([clie_codigo])
GO
ALTER TABLE [dbo].[GEDES.Factura] CHECK CONSTRAINT [FK_Factura_Cliente1]
GO
ALTER TABLE [dbo].[GEDES.Funcion_rol]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_rol_Funcion] FOREIGN KEY([funcion])
REFERENCES [dbo].[GEDES.Funcion] ([func_codigo])
GO
ALTER TABLE [dbo].[GEDES.Funcion_rol] CHECK CONSTRAINT [FK_Funcion_rol_Funcion]
GO
ALTER TABLE [dbo].[GEDES.Funcion_rol]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_rol_Rol] FOREIGN KEY([rol])
REFERENCES [dbo].[GEDES.Rol] ([rol_codigo])
GO
ALTER TABLE [dbo].[GEDES.Funcion_rol] CHECK CONSTRAINT [FK_Funcion_rol_Rol]
GO
ALTER TABLE [dbo].[GEDES.Itemfactura]  WITH CHECK ADD  CONSTRAINT [FK_Itemfactura_Itemfactura] FOREIGN KEY([item_factura])
REFERENCES [dbo].[GEDES.Factura] ([fact_codigo])
GO
ALTER TABLE [dbo].[GEDES.Itemfactura] CHECK CONSTRAINT [FK_Itemfactura_Itemfactura]
GO
ALTER TABLE [dbo].[GEDES.Rendicion]  WITH CHECK ADD  CONSTRAINT [FK_Rendicion_Chofer] FOREIGN KEY([rend_chofer])
REFERENCES [dbo].[GEDES.Chofer] ([chof_codigo])
GO
ALTER TABLE [dbo].[GEDES.Rendicion] CHECK CONSTRAINT [FK_Rendicion_Chofer]
GO
ALTER TABLE [dbo].[GEDES.Rendicion]  WITH CHECK ADD  CONSTRAINT [FK_Rendicion_Turno] FOREIGN KEY([rend_turno])
REFERENCES [dbo].[GEDES.Turno] ([turn_codigo])
GO
ALTER TABLE [dbo].[GEDES.Rendicion] CHECK CONSTRAINT [FK_Rendicion_Turno]
GO
ALTER TABLE [dbo].[GEDES.Rolusuario]  WITH CHECK ADD  CONSTRAINT [FK_Rolusuario_Rol] FOREIGN KEY([rxu_rol])
REFERENCES [dbo].[GEDES.Rol] ([rol_codigo])
GO
ALTER TABLE [dbo].[GEDES.Rolusuario] CHECK CONSTRAINT [FK_Rolusuario_Rol]
GO
ALTER TABLE [dbo].[GEDES.Rolusuario]  WITH CHECK ADD  CONSTRAINT [FK_Rolusuario_Usuario] FOREIGN KEY([rxu_usuario])
REFERENCES [dbo].[GEDES.Usuario] ([usua_codigo])
GO
ALTER TABLE [dbo].[GEDES.Rolusuario] CHECK CONSTRAINT [FK_Rolusuario_Usuario]
GO
ALTER TABLE [dbo].[GEDES.Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Chofer] FOREIGN KEY([viaj_chofer])
REFERENCES [dbo].[GEDES.Chofer] ([chof_codigo])
GO
ALTER TABLE [dbo].[GEDES.Viaje] CHECK CONSTRAINT [FK_Viaje_Chofer]
GO
ALTER TABLE [dbo].[GEDES.Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Cliente] FOREIGN KEY([viaj_cliente])
REFERENCES [dbo].[GEDES.Cliente] ([clie_codigo])
GO
ALTER TABLE [dbo].[GEDES.Viaje] CHECK CONSTRAINT [FK_Viaje_Cliente]
GO
ALTER TABLE [dbo].[GEDES.Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_Turno] FOREIGN KEY([viaj_turno])
REFERENCES [dbo].[GEDES.Turno] ([turn_codigo])
GO
ALTER TABLE [dbo].[GEDES.Viaje] CHECK CONSTRAINT [FK_Viaje_Turno]
GO
USE [master]
GO
